
.stroke {

    width: 10px;

    height: 100%;

    float: right;

    outline: 1px dashed #fff;

    outline-offset: -10px;

    position: absolute;

    right: 0;

    top: 0;

}

#top-menu-holder
{
    position: relative;
    max-width: 100%;
}


.image-carousel .item .image-cover,
.image-carousel.owl-carousel .owl-item img,
.video-carousel .image-cover,
.about-person-carousel.owl-carousel .owl-item img,
.about-person-carousel .item:before
{
    border-radius: 15px;
}
.container.wall
{
    width: 100%;
}

#review-block
{
    float: none;
}


#review-block .form-group
{
    margin-bottom: 0;
}

.banner {
    overflow: hidden;
    width: 100%;
    text-align: right;
    padding-top: 60px;
}

.profile-template .banner {
    padding-top: 0;
}

.horizontal-banner
{
    margin-top: 50px;
    text-align: center;
}

ul.sort {

    list-style: none;

}

ul.sort li {

    display: inline-block;

}

.write-review {

    width: 100%;

}

.social-list a {

    text-decoration: none;

}

.company-info .company-info-list > li {

    white-space: nowrap;

}

.company-info .company-info-list .info {

    white-space: normal;
    padding-left: 53px;
}

.company-info .company-info-list .info .value p
{
    text-transform: capitalize;
    margin: 0 0 5px;
}

.company-info .company-info-list .row
{
    border-bottom: 1px solid #dae6f1;
}

.white-popup-block {

    color: #fff;

    text-align: center;

}

.white-popup-block h1 {

    margin-bottom: 20px;

}

.white-popup-block p {

    font-size: 20px;

}

.white-popup-block a {

    padding: 20px;

    font-weight: normal;

}

.white-popup-block a, .white-popup-block a:hover {

    color: #ff2250;

}

.white-popup-block a:hover {

    font-weight: bold;

}
.main-footer .social-list
{
    padding-top: 0;
}


.main-footer .footer-menu a,
.main-footer .footer-menu a:visited,
.main-footer .footer-menu a:hover
{
    color: #fff;
}


.social-title
{
    padding-left: 15px;
}

.social-list {

    top: 0px !important;

}

.social-list, .social-title
{
    margin-top: 10px;
}

.socials .social-title
{
    padding: 0;
}
.socials  .social-list
{
    margin-top: 0;
}

.company-info .social-title
{
    padding-left: 0;
}

.company-clients > li.violet span {

    color: #28185d;

    font-size: 16px;

}

.wall {

    margin-top: 50px;

}

.news-record {
    padding: 0;
    margin-top: 25px;

}


/*

*   Sort Controls BEGIN

*/

.dropdown-wrapper {

    width: 100%;
    position: relative;
    text-align: right;
    padding: 20px 0;

}

.dropdown-wrapper .ae-select {

    padding: 8px;

    position: relative;

    height: 20px;

    padding-right: 20px;

}

.dropdown-wrapper .ae-select.chosen {

    color: #333;

}

.dropdown-wrapper .ae-select .down-icon, .ae-select .up-icon {

    position: absolute;

    right: 8px;

    top: 7px;

}

.dropdown-wrapper .ae-dropdown .sorting-dropdown-menu {

    position: absolute;

    width: 220px;

    background: #fff;

    box-shadow: 0 0 16px 2px rgba(62, 60, 56, .07);

    border-radius: 0px;

    padding: 10px 20px 10px 20px;

    margin-top: 10px;

    right: 0;

    z-index: 10;

    text-align: right;
    list-style-type: none;

}

.dropdown-wrapper .ae-dropdown .ae-select, .dropdown-wrapper .ae-dropdown .sorting-dropdown-menu > li {

    cursor: pointer;

}

.dropdown-wrapper .ae-dropdown .sorting-dropdown-menu > li > a:focus, .dropdown-wrapper .ae-dropdown .sorting-dropdown-menu > li > a:hover {

    background: none;

}

.dropdown-wrapper .ae-disabled {

    pointer-events: none;

}

.ae-hide {

    display: none!important;

}


.ae-dropdown .sorting-dropdown-menu li {

    padding: 5px 0px;

}

.ae-dropdown .sorting-dropdown-menu li.selected {

    padding: 5px 0px;

}

.ae-select-content {

    font-weight: bold;

}

.down-icon:after {

    content: "\e900";

    font-family: icomoon;

    font-size: 10px;

}

.dropdown-title, .ae-dropdown.dropdown {

    display: inline-block;

}

.review-loader {

    display: none;

    width: 44px;

    vertical-align: middle;

}

/*

*   Sort Controls END

*/

.up {

    display: inline-block;

    border: none;

    background-color: transparent;

    cursor: pointer;

    font-size: 10px;

    padding: 0 5px;

    -webkit-transform: rotate(180deg);

    transform: rotate(180deg);

    color: #1ccf75 !important;

}

.down {

    display: inline-block;

    border: none;

    background-color: transparent;

    cursor: pointer;

    font-size: 10px;

    padding: 0 5px;

    color: #ff2250 !important;

}

@media (max-width: 600px) {

    .table.td-width thead th:nth-child(5), .table.td-width thead th:nth-child(6), .table.td-width thead th:nth-child(7) {
        width: 15%;
    }

    .table.sm-table-layout-auto {
        table-layout: fixed;
    }

    .table.td-width thead th:nth-child(1) {
        width: 18%;
    }

    .table.td-width thead th:nth-child(2) {
        width: auto;
    }

    .table.td-width thead th:nth-child(3) {
        width: auto;
    }

    .table.td-width thead th:nth-child(4) {
        width: auto;
    }

    .table.td-width thead th:nth-child(5) {
        width: auto;
    }

    .table.sm-table-layout-auto thead th,
    .table.sm-table-layout-auto tbody td {
        padding-left: 0;
        padding-right: 0;
    }

    .table.sm-table-layout-auto tbody td:first-child {
        padding-left: 15px;
    }

    .table.md-change-size thead th,
    .table.md-change-size tbody td {
        font-size: 18px;
    }
}

@media (max-width: 480px) {

    .table.td-width thead th:nth-child(5), .table.td-width thead th:nth-child(6), .table.td-width thead th:nth-child(7) {
        width: 15%;
    }

    .table {
        table-layout: fixed;
    }

    .table thead th {
        font-size: 13px;
        padding-left: 0;
        padding-right: 0;
    }

    .table tbody td {
        font-size: 13px;
        padding-left: 0;
        padding-right: 0;
    }

    .table tbody td.numb {
        font-size: 13px;
    }

    .table.md-change-size thead th,
    .table.md-change-size tbody td {
        font-size: 13px;
    }

    .table tbody td .md-visible .content .cell .title {
        font-size: 13px;
    }

    .table tbody td .md-visible .content .cell .value {
        font-size: 13px;
    }

    .table tbody td .md-visible .content .more-link {
        font-size: 13px;
        width: 100px;
    }
}

.person-info
{
    margin-top: 20px;
}

@media (max-width: 992px) {
    .person-info .person-info-list {
        margin-top: 0px!important;
    }


    .sidebar .item .popular-promotion>li a {
        font-size: 15px;
    }
}

/*
    VK Wall
*/
.row.photos .col-md-3 img,
.row.photos .col-md-4 img,
.row.photos .col-md-5 img,
.row.photos .col-md-6 img,
.row.photos .col-md-7 img,
.row.photos .col-md-8 img,
.row.photos .col-md-9 img,
.row.photos .col-md-10 img,
.row.photos .col-md-11 img,
.row.photos .col-md-12 img
{
    width: 100%;
}

.row.photos .col-md-3,
.row.photos .col-md-4,
.row.photos .col-md-5,
.row.photos .col-md-6,
.row.photos .col-md-7,
.row.photos .col-md-8,
.row.photos .col-md-9,
.row.photos .col-md-10,
.row.photos .col-md-11
{
    width: 50%;
    display: block;
    max-width: 50%;
}
.row.photos .col-md-12
{
    width: 100%;
    max-width: 100%;
}

@media (max-width: 992px) {
    .main-footer .footer-menu>li a {
        font-size: 16px;
    }
    .main-footer .footer-menu>li {
        margin-bottom: 0px;
    }
    .footer-menu a
    {
        display: block;
    }
    .recent-reviews .image-cover
    {
        padding-right: 20px;
    }
}

@media (max-width: 480px) {
    .company-info .social-title {
        margin-right: 20px;
    }
}

@media (max-width: 750px) {
   .horizontal-banner
   {
       display: none;
   }
}

@media (max-width: 480px){
    .testimonials-list-vertical .testimonial-card .info .star-rating,
    .testimonials-list-vertical .testimonial-card .info .date, .testimonials-list-vertical .testimonial-card .info .name{
        width: 100%;
    }
}

.preview-text
{
    font-size: 18px;
    font-weight: 400;
}

.submit-button
{
    width: 223px;
    height: 38px;
    line-height: 36px;
    font-family: ProximaNova,sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    background-color: #ff2250;
    border: 1px solid #ff2250;
    cursor: pointer;
    transition: .2s;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0;
}

.submit-button:hover
{
    background-color: transparent;
    color: #ff2250;
}

.success-request h1
{
    text-align: center;
    margin: 20px;
}


.btn.btn-rounded
{
    width: 230px;
    margin: 60px auto 0 auto;
    border: 1px solid #00b795;
    color: #00b795;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    font-size: 15px;
}

.btn.btn-rounded:hover
{
    border: 1px solid #fff;
    background-color: #00b795;
    color: #fff;
}

.popular-promotion li a
{
    border-radius: 10px;

}


.bg.pattern,
.bg2.pattern
{
    position: relative;
}

.bg .section-title,
.bg2 .section-title
{
    color: #fff;
}

.bg.pattern *,
.bg2.pattern *
{
    z-index: 1;
}
.bg.pattern:before,
.bg2.pattern:before
{
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../img/pattern2.png) repeat;
    top: 0;
    z-index: 0;
}

.bg2.pattern:before
{
    background: url(../img/pattern3.png) repeat;
}

.bg
{
    background-color: #004e5d;
}

.bg2
{
    background-color: #004654;
}

.main-banner,
.common-banner {
    position: relative;
    background-size: cover;
    padding-top: 177px;
    padding-bottom: 177px;

}
.common-banner
{
    background: url("../img/common-banner.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.main-banner
{
    background: url("../img/top-banner.jpg") no-repeat 50% 50%;
}

.main-banner:after,
.common-banner:after
{
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background:rgba(0,0,0,0.5);
}

.companies-rating-list-wiget
{
    text-align: center;
}

.companies-rating-list-wiget tr td:first-child
{
    width: 5%;
}

.companies-rating-list-wiget tr td:nth-child(2),
.companies-rating-list-wiget tr td:nth-child(3),
.companies-rating-list-wiget tr td:nth-child(4)
{
    width: 25%;
}
.companies-rating-list-wiget tr td:last-child,
.companies-rating-list-wiget tr td:nth-child(5) {
    width: 10%;
}

.companies-rating-list-wiget,
.companies-rating-list-wiget table
{
    width: 100%;
}
.companies-rating-list-wiget table
{
    height: 100%;
    border: none;
}
ul.companies-rating-list-wiget
{
    padding: 10px 10px 0 10px;
}
ul.companies-rating-list-wiget > li
{
    height: 115px;
    position: relative;
    margin-bottom: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

ul.companies-rating-list-wiget > li.checked-badge:after,
ul.companies-rating-list-wiget > li.vip-badge:after,
ul.companies-rating-list-wiget > li.risk-badge:after
{
    content: '';
    display: block;
    /* background-size: initial; */
    position: absolute;
    width: 94px;
    height: 99px;
    top: -9px;
    left: -9px;
}

ul.companies-rating-list-wiget > li.checked-badge:after
{
    background: url(../img/checked-badge.png) no-repeat;
}

ul.companies-rating-list-wiget > li.vip-badge:after
{
    background: url(../img/vip-badge.png) no-repeat;
}

ul.companies-rating-list-wiget > li.risk-badge:after
{
    background: url(../img/risk-badge.png) no-repeat;
}

.companies-rating-list-wiget tr td .tip
{
    position: absolute;
    right: 0;
    left: 0;
    top: 10px;
    color: #9b9b9d;
}

.companies-rating-list-wiget tr td.logo
{
    padding: 0;
}

.companies-rating-list-wiget tr td.logo a
{
    max-height: 95px;
    overflow: hidden;
}

.companies-rating-list-wiget tr td.logo img
{
    width: 100px;
}

.companies-rating-list-wiget tr td
{
    position: relative;
    width: 33%;
    text-align: center;
    font-family: "OpenSans Regular", sans-serif;
}
.table-responsive .table-header
{
    height: 45px;
    width: 100%;
    padding: 0 10px;
    display: none;
}
.table-responsive .table-header .columns
{
    width: 100%;
    height: 100%;
    display: table;
    background-color: #00d5a6;
    padding: 0;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
}

.table-responsive .table-header .columns div
{
    display: table-cell;
    float: none;
    width: 100%;
    vertical-align: middle;
}

.pinned-block
{
    margin-top: -325px;
    width: 100%;
}

.pinned-block .section-title
{
    color: #fff;
}
.sorting-ctrl .dropdown-title,
.sorting-ctrl .ae-select-content,
.sorting-ctrl .icon-angle-arrow-down

{
    color: #fff;
}

.sorting-ctrl
{
    height: 45px;
}

.pagination li.active a
{
    width: 35px!important;
    height: 35px!important;
    line-height: 22px!important;
    border-radius: 50%!important;
    background-color: #00d5a6!important;
    border-color: #00d5a6!important;
    color: #fff!important;
}
.pagination > li > a, .pagination > li > span
{
    padding: 6px 0px;
}
.pagination li a
{
    color: #414844!important;
}

.pagination li a:last-child
{
    margin-right: 0;
}
.pagination li
{
    margin-right: 30px!important;
    display: inline-block!important;
    font-family: "OpenSans",sans-serif;
}
.pagination li a,
.pagination li > span
{
    font-size: 18px!important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus
{
    background-color: transparent!important;
    border-color: #00d5a6!important;
}

.pagination > .active > a:hover
{
    cursor: pointer!important;
    color: #414844!important;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus
{
    color: #00d5a6!important;
    background-color: transparent!important;
    border-color: transparent!important;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover,
.pagination > .disabled > span:focus, .pagination > .disabled > a,
.pagination > .disabled > a:hover, .pagination > .disabled > a:focus,
.pagination > li > a, .pagination > li > span
{
    background-color: transparent!important;
    border-color: transparent!important;
}
.company-info .company-info-list .socials.item
{
    padding-left: 55px;
    margin-top: 7px;
}

.company-info .company-info-list .item
{
    padding: 10px 10px 10px 0px;
}

.extra-data
{
    font-family: "OpenSans Regular",sans-serif;
}
@media (max-width: 1024px) {
    .main-header .col-md-offset-1
    {
        margin: 0!important;
    }
    .logo-header img
    {
        width: 130px;
    }
    .main-menu > li a
    {
        font-size: 15px;
        padding: 0 15px;
    }
   
}

@media (min-width: 992px) and (max-width: 1220px)
{
    .main-menu > li a
    {
        font-size: 13px;
    }

    .reviews-news .image-cover
    {
        width: 80px;
    }
}

@media (max-width: 991px)
{

    .reviews-news .tab-content,
    .reviews-news .name
    {
        padding: 0;
        margin-top: 0;
    }
    .reviews-news .testimonials-list-vertical .testimonial-card .info .name
    {
        display: table;
        width: inherit;
    }
    .reviews-news .testimonials-list-vertical .testimonial-card .date
    {
        text-align: left;
        padding-left: 37px;
    }
    .write-review .social-list
    {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .profile-template .reviews-news  .nav > li a
    {
        padding: 10px 10px!important;
        font-size: 12px!important;
    }

    .review-section .dropdown-wrapper
    {
        text-align: center;
    }
    .sidebar .item
    {
        margin-top: 50px;
    }
    .reviews-news .text
    {
        padding: 0 20px;
        font-size: 14px;
        line-height: 1.6em;
    }
    .reviews-news .testimonials-list-vertical .testimonial-card
    {
        padding-bottom: 10px;
    }

    .reviews-news .rating
    {
        display: none;
    }
    .reviews-news .star-rating
    {
        display: none;
    }
    .reviews-news .round-photo
    {
        padding: 0;
    }

    ul.companies-rating-list-wiget > li
    {
        height: auto;
    }

    .companies-rating-list-wiget tr td .tip
    {
        display: none;
    }

    .table-responsive .table-header
    {
        display: block;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .table-responsive .table-header .columns,
    ul.companies-rating-list-wiget > li
    {
        border-radius: 3px;
    }

    .companies-rating-list-wiget tr td.logo img
    {
        width: 70px;
    }
    .table-responsive .table-header .columns div
    {
        font-size: 14px;
    }
    .banner
    {
        text-align: center;
        padding-top: 20px;
    }
    .company-info [class*="col-md-"],
    .extra-data [class*="col-md-"]
    {
        -webkit-flex-basis: auto;
    }

    .extra-data .title
    {
        text-align: center!important;
        padding-bottom: 20px;
    }

    .profile-template .about
    {
        margin-top: 0!important;
    }

    .extra-data .row,
    .extra-data .row:first-child
    {
        margin-bottom: 20px;
        margin-top: 0!important;
    }

    .company-info .company-info-list .info-header
    {
        position: relative;
        margin: 0 auto;
        display: block;
    }
    .company-info .company-info-list .info-header .title
    {
        margin-left: 0;
    }

    .company-info .company-info-list .info
    {
        display: block;
        padding-left: 0;
    }
    .company-info .company-info-list .socials.item
    {
        padding-left: 0;
        margin-top: 0;
        text-align: center;
    }
    .company-info .company-info-list .socials .social-title
    {
        display: block;
        margin-right: 0;
        margin-top: 0;
    }
    .company-info .company-info-list .socials
    {
        width: 100%;
        display: block;
        float: none;

    }

    .company-info .company-info-list .info-header .icon
    {
        position: absolute;
        left: -80px;
    }

    .company-info .company-info-list .item
    {
        display: inline-block;
        width: 100%;
        padding-left: 100px;
        text-align: left;
        border-bottom: 1px solid #dae6f1;
    }

    .company-info .company-info-list .info .value
    {
        text-align: left;
    }

    .company-info .company-info-list .row {
        border-bottom: none;
    }

    .profile-template .promotion
    {
        padding-bottom: 50px!important;
    }
}
.image-carousel.owl-carousel .owl-item img,
.video-carousel img
{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.video-carousel .image-cover
{
    padding-top: 93%;
}

.owl-nav .owl-prev span,
.owl-nav .owl-next span
{
    display: none;
}


.extra-data .row:first-child
{
    margin-top: 60px;
}
.extra-data .row {
    margin-bottom: 60px;
}
.extra-data .value {
    padding: 20px 21px 20px 21px;
    margin-left: 7px;
    border-radius: 10px;
    background-color: #fbfbfc;
}
.extra-data .title
{
    padding-right: 28px;
    padding-top: 20px;
    color: #00d5a6;
    font-size: 18px;
    text-transform: uppercase;
    text-align: right;
}
.company-info .social-list > li a .icon:before
{
    color: #01daef;
}

.profile-template .about
{
    margin-top: 50px;
    margin-bottom: 60px;
    font-family: "OpenSans Regular",sans-serif;
}

.profile-template .promotion
{
    padding-bottom: 180px;
    background: url(../img/bg-city.jpg) no-repeat bottom;
    background-size: cover;
}

.profile-template .reviews-news
{
    margin-top: 60px;
}
.profile-template .reviews-news li.active a,
.profile-template .reviews-news li.active a:focus
{
    background-color: #00d5a6!important;
    color: #fff!important;
    border-radius: 10px;
    text-transform: uppercase;
}
.profile-template .reviews-news  .tabs-above > .nav-tabs > li > a:hover
{
    border-color: transparent!important;
}

.profile-template .reviews-news  .nav > li > a:hover,
.profile-template .reviews-news .nav > li > a:focus {
    background-color: transparent;
}

.profile-template .reviews-news  .nav > li a
{
    padding: 10px 35px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #29322d;
    font-family: "OpenSans Regular", sans-serif;
}
.profile-template .reviews-news  .nav > li.active a:after
 {
    content: "";
    border-top: 10px solid #00d5a6;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 100%;
    position: absolute;
    left: 45%;
    margin-left: -10px;
    width: 0;
    height: 0;
 }

.tabs-above > .nav-tabs > .active > a, .tabs-above > .nav-tabs > li.active > a:hover, .tabs-above > .nav-tabs > li.active > a:focus
{
    border: none;
}

.profile-template .reviews-news  .nav-tabs
{
    border: none;
}

.reviews-news .round-photo img
{
    border: none;
}

.reviews-news .testimonial-card
{
    border-radius: 10px;
}

.info .value > a
{
    color: #00d5a6;
    text-decoration: underline;
}

.empty
{
    color: #fff;
    font-size: 24px;
}

/*
* Menu
*/
@media (max-width: 992px)
{
    .logo-header {
        margin-left: 0px;
    }
    .main-header > .container
    {
        padding-left: 0;
        padding-right: 0;
    }
    .main-header > .container > .row
    {
        width: 100%;
        margin: 0;
    }
    .announced {
        text-align: center;
    }

    .announced .col-md-4
    {
        float: none;
    }
}

@media (max-width: 374px)
{

    .section > .row > .container,
    .container.counters
    {
        padding-left: 0;
        padding-right: 0;
    }
}

.reviews-news .nav-tabs h2
{
    font-size: 15px;
    margin: 0;
}