
.stroke {

    width: 10px;

    height: 100%;

    float: right;

    outline: 1px dashed #fff;

    outline-offset: -10px;

    position: absolute;

    right: 0;

    top: 0;

}

#review-block
{
    float: none;
}

.banner
 {
    overflow: hidden;
    width: 100%;
    text-align: right;
    padding-top: 60px;
 }

.horizontal-banner
{
    margin-top: 50px;
    text-align: center;
}

ul.sort {

    list-style: none;

}

ul.sort li {

    display: inline-block;

}

.write-review {

    width: 100%;

}

.social-list a {

    text-decoration: none;

}

.company-info .company-info-list > li {

    white-space: nowrap;

}

.company-info .company-info-list .info {

    white-space: normal;

}

.white-popup-block {

    color: #fff;

    text-align: center;

}

.white-popup-block h1 {

    margin-bottom: 20px;

}

.white-popup-block p {

    font-size: 20px;

}

.white-popup-block a {

    padding: 20px;

    font-weight: normal;

}

.white-popup-block a, .white-popup-block a:hover {

    color: #ff2250;

}

.white-popup-block a:hover {

    font-weight: bold;

}
.main-footer .social-list
{
    padding-top: 0;
}

.main-footer .footer-menu a
{
    line-height: 1.71;
}

.main-footer .footer-menu a,
.main-footer .footer-menu a:visited,
.main-footer .footer-menu a:hover
{
    color: #fff;
}


.social-title
{
    padding-left: 15px;
}

.social-list {

    top: 0px !important;

}

.social-list, .social-title
{
    margin-top: 10px;
}

.socials
{
    margin-top: 20px;
}

.socials .social-title
{
    margin-top: -15px;
    padding: 0;
}
.socials  .social-list
{
    margin-top: 0;
}

.company-info .social-title
{
    padding-left: 0;
}

.company-clients > li.violet span {

    color: #28185d;

    font-size: 16px;

}

.wall {

    margin-top: 50px;

}

.news-record {
    padding: 0;
    margin-top: 25px;

}


/*

*   Sort Controls BEGIN

*/

.dropdown-wrapper {

    width: 100%;

    position: relative;

    text-align: right;

}

.dropdown-wrapper .ae-select {

    padding: 8px;

    position: relative;

    height: 20px;

    padding-right: 20px;

}

.dropdown-wrapper .ae-select.chosen {

    color: #333;

}

.dropdown-wrapper .ae-select .down-icon, .ae-select .up-icon {

    position: absolute;

    right: 8px;

    top: 7px;

}

.dropdown-wrapper .ae-dropdown .sorting-dropdown-menu {


    position: absolute;

    width: 220px;

    background: #fff;

    box-shadow: 0 0 16px 2px rgba(62, 60, 56, .07);

    border-radius: 0px;

    padding: 10px 20px 10px 20px;

    margin-top: 10px;

    right: 0;

    z-index: 1;

    list-style-type: none;

}

.dropdown-wrapper .ae-dropdown .ae-select, .dropdown-wrapper .ae-dropdown .sorting-dropdown-menu > li {

    cursor: pointer;

}

.dropdown-wrapper .ae-dropdown .sorting-dropdown-menu > li > a:focus, .dropdown-wrapper .ae-dropdown .sorting-dropdown-menu > li > a:hover {

    background: none;

}

.dropdown-wrapper .ae-disabled {

    pointer-events: none;

}

.ae-hide {

    display: none!important;

}


.ae-dropdown .sorting-dropdown-menu li {

    padding: 5px 0px;

}

.ae-dropdown .sorting-dropdown-menu li.selected {

    padding: 5px 0px;

}

.ae-select-content {

    font-weight: bold;

}

.down-icon:after {

    content: "\e900";

    font-family: icomoon;

    font-size: 10px;

}

.dropdown-title, .ae-dropdown.dropdown {

    display: inline-block;

}

.review-loader {

    display: none;

    width: 44px;

    vertical-align: middle;

}

/*

*   Sort Controls END

*/

.up {

    display: inline-block;

    border: none;

    background-color: transparent;

    cursor: pointer;

    font-size: 10px;

    padding: 0 5px;

    -webkit-transform: rotate(180deg);

    transform: rotate(180deg);

    color: #1ccf75 !important;

}

.down {

    display: inline-block;

    border: none;

    background-color: transparent;

    cursor: pointer;

    font-size: 10px;

    padding: 0 5px;

    color: #ff2250 !important;

}

@media (max-width: 600px) {

    .table.td-width thead th:nth-child(5), .table.td-width thead th:nth-child(6), .table.td-width thead th:nth-child(7) {
        width: 15%;
    }

    .table.sm-table-layout-auto {
        table-layout: fixed;
    }

    .table.td-width thead th:nth-child(1) {
        width: 18%;
    }

    .table.td-width thead th:nth-child(2) {
        width: auto;
    }

    .table.td-width thead th:nth-child(3) {
        width: auto;
    }

    .table.td-width thead th:nth-child(4) {
        width: auto;
    }

    .table.td-width thead th:nth-child(5) {
        width: auto;
    }

    .table.sm-table-layout-auto thead th,
    .table.sm-table-layout-auto tbody td {
        padding-left: 0;
        padding-right: 0;
    }

    .table.sm-table-layout-auto tbody td:first-child {
        padding-left: 15px;
    }

    .table.md-change-size thead th,
    .table.md-change-size tbody td {
        font-size: 18px;
    }
}

@media (max-width: 480px) {

    .table.td-width thead th:nth-child(5), .table.td-width thead th:nth-child(6), .table.td-width thead th:nth-child(7) {
        width: 15%;
    }

    .table {
        table-layout: fixed;
    }

    .table thead th {
        font-size: 13px;
        padding-left: 0;
        padding-right: 0;
    }

    .table tbody td {
        font-size: 13px;
        padding-left: 0;
        padding-right: 0;
    }

    .table tbody td.numb {
        font-size: 13px;
    }

    .table.md-change-size thead th,
    .table.md-change-size tbody td {
        font-size: 13px;
    }

    .table tbody td .md-visible .content .cell .title {
        font-size: 13px;
    }

    .table tbody td .md-visible .content .cell .value {
        font-size: 13px;
    }

    .table tbody td .md-visible .content .more-link {
        font-size: 13px;
        width: 100px;
    }
}

.person-info
{
    margin-top: 20px;
}

@media (max-width: 992px) {
    .person-info .person-info-list {
        margin-top: 0px!important;
    }


    .sidebar .item .popular-promotion>li a {
        font-size: 15px;
    }
}

/*
    VK Wall
*/
.row.photos .col-md-3 img,
.row.photos .col-md-4 img,
.row.photos .col-md-5 img,
.row.photos .col-md-6 img,
.row.photos .col-md-7 img,
.row.photos .col-md-8 img,
.row.photos .col-md-9 img,
.row.photos .col-md-10 img,
.row.photos .col-md-11 img,
.row.photos .col-md-12 img
{
    width: 100%;
}

.row.photos .col-md-3,
.row.photos .col-md-4,
.row.photos .col-md-5,
.row.photos .col-md-6,
.row.photos .col-md-7,
.row.photos .col-md-8,
.row.photos .col-md-9,
.row.photos .col-md-10,
.row.photos .col-md-11
{
    width: 50%;
    display: block;
    max-width: 50%;
}
.row.photos .col-md-12
{
    width: 100%;
    max-width: 100%;
}

@media (max-width: 992px) {
    .main-footer .footer-menu>li a {
        font-size: 16px;
    }
    .main-footer .footer-menu>li {
        margin-bottom: 0px;
    }
}

@media (max-width: 480px) {
    .company-info .social-title {
        margin-right: 20px;
    }
}

@media (max-width: 750px) {
   .horizontal-banner
   {
       display: none;
   }
}

@media (max-width: 480px){
    .testimonials-list-vertical .testimonial-card .info .star-rating,
    .testimonials-list-vertical .testimonial-card .info .date, .testimonials-list-vertical .testimonial-card .info .name{
        width: 100%;
    }
}

.preview-text
{
    font-size: 18px;
    font-weight: 400;
}

.submit-button
{
    width: 223px;
    height: 38px;
    line-height: 36px;
    font-family: ProximaNova,sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    background-color: #ff2250;
    border: 1px solid #ff2250;
    cursor: pointer;
    transition: .2s;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0;
}

.submit-button:hover
{
    background-color: transparent;
    color: #ff2250;
}

.success-request h1
{
    text-align: center;
    margin: 20px;
}


.btn.btn-rounded
{
    width: 230px;
    margin: 60px auto 0 auto;
    border: 1px solid #00b795;
    color: #00b795;
    padding: 10px 0;
    text-align: center;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
}

.btn.btn-rounded:hover
{
    border: 1px solid #fff;
    background-color: #00b795;
    color: #fff;
}

.popular-promotion li a
{
    border-radius: 10px;

}


.bg.pattern,
.bg2.pattern
{
    position: relative;
}

.bg .section-title,
.bg2 .section-title
{
    color: #fff;
}

.bg.pattern *,
.bg2.pattern *
{
    z-index: 1;
}
.bg.pattern:before,
.bg2.pattern:before
{
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../img/pattern2.png) repeat;
    top: 0;
    z-index: 0;
}

.bg2.pattern:before
{
    background: url(../img/pattern3.png) repeat;
}

.bg
{
    background-color: #004e5d;
}

.bg2
{
    background-color: #004654;
}

.main-banner,
.common-banner {
    position: relative;
    background-size: cover;
    padding-top: 177px;
    padding-bottom: 177px;

}
.common-banner
{
    background: url("../img/common-banner.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.main-banner
{
    background: url("../img/top-banner.jpg") no-repeat 50% 50%;
}

.main-banner:after,
.common-banner:after
{
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background:rgba(0,0,0,0.5);
}

.companies-rating-list-wiget
{
    text-align: center;
}

.companies-rating-list-wiget tr td:first-child
{
    width: 5%;
}

.companies-rating-list-wiget tr td:nth-child(2),
.companies-rating-list-wiget tr td:nth-child(3),
.companies-rating-list-wiget tr td:nth-child(4)
{
    width: 25%;
}
.companies-rating-list-wiget tr td:last-child,
.companies-rating-list-wiget tr td:nth-child(5) {
    width: 10%;
}

.companies-rating-list-wiget,
.companies-rating-list-wiget table
{
    width: 100%;
}
.companies-rating-list-wiget table
{
    height: 100%;
    border: none;
}
ul.companies-rating-list-wiget
{
    padding: 10px 10px 0 10px;
}
ul.companies-rating-list-wiget > li
{
    height: 115px;
    position: relative;
    margin-bottom: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

ul.companies-rating-list-wiget > li.checked-badge:after,
ul.companies-rating-list-wiget > li.vip-badge:after,
ul.companies-rating-list-wiget > li.risk-badge:after
{
    content: '';
    display: block;
    /* background-size: initial; */
    position: absolute;
    width: 94px;
    height: 99px;
    top: -9px;
    left: -9px;
}

ul.companies-rating-list-wiget > li.checked-badge:after
{
    background: url(../img/checked-badge.png) no-repeat;
}

ul.companies-rating-list-wiget > li.vip-badge:after
{
    background: url(../img/vip-badge.png) no-repeat;
}

ul.companies-rating-list-wiget > li.risk-badge:after
{
    background: url(../img/risk-badge.png) no-repeat;
}

.companies-rating-list-wiget tr td .tip
{
    position: absolute;
    right: 0;
    left: 0;
    top: 10px;
    color: #9b9b9d;
}

.companies-rating-list-wiget tr td.logo
{
    padding: 0;
}

.companies-rating-list-wiget tr td.logo img
{
    width: 100px;
}

.companies-rating-list-wiget tr td
{
    position: relative;
    width: 33%;
    text-align: center;
}
.table-responsive .table-header
{
    height: 45px;
    width: 100%;
    padding: 0 10px;
    display: none;
}
.table-responsive .table-header .columns
{
    width: 100%;
    height: 100%;
    display: table;
    background-color: #00d5a6;
    padding: 0;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
}

.table-responsive .table-header .columns div
{
    display: table-cell;
    float: none;
    width: 100%;
    vertical-align: middle;
}

.pinned-block
{
    margin-top: -325px;
    width: 100%;
}

.pinned-block .section-title
{
    color: #fff;
}
.sorting-ctrl .dropdown-title,
.sorting-ctrl .ae-select-content,
.sorting-ctrl .icon-angle-arrow-down

{
    color: #fff;
}

.sorting-ctrl
{
    height: 45px;
}

.pagination li.active a
{
    width: 35px!important;
    height: 35px!important;
    line-height: 22px!important;
    border-radius: 50%!important;
    background-color: #00d5a6!important;
    border-color: #00d5a6!important;
    color: #fff!important;
}
.pagination li a
{
    color: #414844!important;
}

.pagination li a:last-child
{
    margin-right: 0;
}
.pagination li
{
    margin-right: 10px!important;
    display: inline-block!important;
}
.pagination li a,
.pagination li > span
{
    font-size: 18px!important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus
{
    background-color: transparent!important;
    border-color: #00d5a6!important;
}

.pagination > .active > a:hover
{
    cursor: pointer!important;
    color: #414844!important;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus
{
    color: #00d5a6!important;
    background-color: transparent!important;
    border-color: transparent!important;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover,
.pagination > .disabled > span:focus, .pagination > .disabled > a,
.pagination > .disabled > a:hover, .pagination > .disabled > a:focus,
.pagination > li > a, .pagination > li > span
{
    background-color: transparent!important;
    border-color: transparent!important;
}


@media (max-width: 991px)
{
    ul.companies-rating-list-wiget > li
    {
        height: auto;
    }

    .companies-rating-list-wiget tr td .tip
    {
        display: none;
    }

    .table-responsive .table-header
    {
        display: block;
    }
    .table-responsive .table-header .columns,
    ul.companies-rating-list-wiget > li
    {
        border-radius: 3px;
    }

    .companies-rating-list-wiget tr td.logo img
    {
        width: 70px;
    }
    .table-responsive .table-header .columns div
    {
        font-size: 14px;
    }
    .banner
    {
        text-align: center;
        padding-top: 20px;
    }
}

